name: Mirror after merge

on:
  push:
    branches:
      - main   

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Git Setup
        run: |
          git config --global user.name '${{ secrets.GIT_USER_NAME }}'
          git config --global user.email '${{ secrets.GIT_USER_EMAIL }}'

      - name: Add Mirror Remote Repository
        run: git remote add mirror-repo  https://${{ secrets.MIRROR_TOKEN }}@${{ secrets.MIRROR_URL }}

      - name: Push to Mirror
        run: git push --mirror mirror-repo